body {
    display: flex;
    justify-content: center;
    margin: 0;
    background: #e0e0e0;
    font-family: 'Ubuntu';
    font-size: 15px;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 640px;
}

/*part left*/
.column_left {
    width: 220px;
    background-color: #3c3c3c;
}

.avatar {
    background-image: url("../img/avatar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    height: 50px;
    background-color: #e0c52c;
    opacity: 0.7;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    background-color: #e0c52c;
}

.container {
    display: flex;
    padding-left: 25px;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 240px;
    color: #e0c52c;
}

/*part right*/
.column_right {
    width: 440px;
    background-color: white;
    padding: 30px;
    box-sizing: border-box;
}

/*text*/
.description {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    margin-right: 15px;
}

.description_alt {
    width: 80px;
    font-size: 18px;
}

.section {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
}